<mat-toolbar class="app-navbar" color="primary">
    <button mat-button mat-ripple routerLink="/">
      <img alt="Angular-Spring-Starter" class="app-angular-logo" src="assets/image/angular-white-transparent.svg">
      <span>Angular-Spring-Starter</span>
    </button>
  
  
    <div class="right">
      <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="flex-end center">
        <button  mat-button mat-ripple routerLink="/signup">
          <span>Sign up</span>
        </button>
        <button  mat-button mat-ripple routerLink="/login">
          <span>Login</span>
        </button>
        
      
        
      </div>
    </div>
  </mat-toolbar>
  
  