<h1 class="primary">Dodaj lek</h1>
<mat-dialog-content class="dialog-class">
    <form [formGroup]="addDrugForm" class="form-full-width">
            <mat-form-field class="form-full-width">
                <mat-label>Lekovi</mat-label>
                <mat-select formControlName="drug">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let drug of drugs" [value]="drug">
                        {{drug.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="addDrugForm.get('drug').invalid">
                   Odaberite lek.
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-full-width-td ml-2">
                <input matInput type="number" placeholder="Kolicina" formControlName="quantity">
                <mat-error
                    *ngIf="addDrugForm.get('quantity').errors && addDrugForm.get('quantity').errors['required']">
                    Unesite količinu.
                </mat-error>
                <mat-error
                    *ngIf="addDrugForm.get('quantity').errors && addDrugForm.get('quantity').errors['min']">
                    Minimalna količina je 1.
                </mat-error>
            </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions class="mt-2 mb-1">
<button mat-raised-button color="primary" (click)="add()" [disabled]="!addDrugForm.valid">Dodaj</button>
</mat-dialog-actions>
