<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <mat-card>
                    <h3> Kao neatentifikovani korinik nemate prava pristupa ovoj stranici
                    </h3>
                    <h3>
                        Za registraciju kliknite ovde <a mat-list-item
                            routerLink="/register">Registruj me</a>
                    </h3>
                    <h3>
                        Imate nalog? Prijavite se <a mat-list-item
                            routerLink="/login">Prijavi me</a>
                    </h3>
                </mat-card>
            </div>
        </div>
    </div>
</div>