<!-- NAVIGACIJA SA LEVE STRANE -->

<mat-sidenav-container class="sidenav-container">

    <mat-sidenav #drawer class="sidenav"  position="end" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'side' : 'side'" [opened]="!(isHandset$ | async)">

      <mat-toolbar color="primary">Sadržaj</mat-toolbar>

      <!-- U ZAVISNOSTI OD ROLE MENJA SE SADRZAJ TOOLBARA-->
      <mat-nav-list *ngIf="!isLoggedIn()">
        <a mat-list-item href="">Lekovi</a>
        <a mat-list-item href="/guest/pharmacies">Apoteke</a>
      </mat-nav-list>

      <mat-nav-list *ngIf="isPatient()">
        <a mat-list-item routerLink="/patient/edit-patient-profile">Moj profil</a>
        <a mat-list-item routerLink="/patient/pharmacies">Apoteke</a>
        <a mat-list-item routerLink="/patient/all-examinations-booked">Zakazani pregledi</a>
        <a mat-list-item routerLink="/patient/all-examinations-available">Slobodni pregledi</a>
        <a mat-list-item routerLink="/patient/all-consultations-booked">Zakazana Savetovanja</a>
        <a mat-list-item routerLink="/patient-profile">Savetovanja</a>
        <a mat-list-item routerLink="/patient/get-all-reservations-active">Rezervisani lekovi</a>
        <a mat-list-item routerLink="user/change-password">Promeni lozinku</a>
      </mat-nav-list>

      <mat-nav-list *ngIf="isPharmacyAdmin()">
        <a mat-list-item routerLink="/pharmacy-admin/edit-admin-profile">Moj profil</a>
        <a mat-list-item routerLink="/pharmacy-admin/edit-pharmacy-profile">Profil apoteke</a>
        <a mat-list-item routerLink="pharmacy-admin/list-pharmacists">Farmaceuti</a>
        <a mat-list-item routerLink="pharmacy-admin/list-dermatologists">Dermatolozi</a>
        <a mat-list-item routerLink="pharmacy-admin/list-drugs">Lekovi</a>
        <a mat-list-item routerLink="pharmacy-admin/examinations">Pregledi kod dermatologa</a>
        <a mat-list-item routerLink="pharmacy-admin/purchase-orders">Narudžbenice</a>
        <a mat-list-item routerLink="pharmacy-admin/promotions">Promocije</a>
        <a mat-list-item routerLink="pharmacy-admin/financial-report">Izveštaj o poslovanju</a>
        <a mat-list-item routerLink="user/change-password">Promeni lozinku</a>
      </mat-nav-list>

      <mat-nav-list *ngIf="isSystemAdmin()">
        <a mat-list-item routerLink="/system-admin-profile">profil adminstratora sistema</a>
      </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>

      <mat-toolbar color="primary">
        <span>
          <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
              <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
          <button type="button"  mat-icon-button >
              <img class="app-angular-logo" src="assets/images/logo2.png">
          </button>
          APOTEKE.RS
        </span>

        <div *ngIf="!isLoggedIn()">
            <button  mat-button mat-ripple routerLink="/login">
                <span>Prijava</span>
            </button>
            <button  mat-button mat-ripple routerLink="/register">
               <span>Registracija</span>
            </button>
        </div>
        <div *ngIf="isLoggedIn()">
            <button  mat-button mat-ripple (click)="onLogout()">
             Odjava
            </button>
        </div>



      </mat-toolbar>

      <!-- Ovde rutiranjem menjas sadrzaj u glavnom prozoru! -->
      <div class="container">

          <router-outlet></router-outlet>

        </div>


    </mat-sidenav-content>

</mat-sidenav-container>
