<mat-dialog-content class="dialog-class">
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-caption">
                        <h1 class="page-title">Slobodni termini za pregled u apoteci</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page-header-->
    
    <!-- page-content -->
    <div class="card-section">
        <div class="container">
            <div class="card-block bg-white mb30">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <!-- section-title -->
                        <div class="section-title mb-0">
                            <table mat-table [dataSource]="examinationsDataSource" class="mat-elevation-z8 table" matSort>
    
                                <ng-container matColumnDef="id">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id termina </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{element.id}}
                                    </td>
                                </ng-container>
    
                                <ng-container matColumnDef="dermatologist">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Dermatolog</th>
                                    <td mat-cell *matCellDef="let element"> 
                                        {{element.dermatologistDTO["firstName"]}} {{element.dermatologistDTO["lastName"]}} 
                                     </td>
                                </ng-container>
    
                                <ng-container matColumnDef="date">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Datum pregleda </th>
                                    <td mat-cell *matCellDef=" let element"> 
                                        {{element.startDateTime | date:"dd.MM.yyyy."}} 
                                    </td>
                                </ng-container>
    
                                <ng-container matColumnDef="time">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Vreme pregleda </th>
                                    <td mat-cell *matCellDef=" let element"> 
                                        {{element.startDateTime | date:"HH:mm"}}
                                         - &nbsp; {{element.endDateTime | date:"HH:mm"}} 
                                    </td>
                                </ng-container>
    
                                <ng-container matColumnDef="price">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cena </th>
                                    <td mat-cell *matCellDef=" let element"> 
                                        {{element.examinationTypeDTO.price}} RSD
                                    </td>
                                </ng-container>
                               
                                <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            <mat-paginator [pageSize]=itemsPerPage class=" table" showFirstLastButtons></mat-paginator>
                        </div>
                        <!-- /.section-title -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page-content -->
</mat-dialog-content>