
<div id="apoteke>" [hidden]="!hidePharmatists">
<form (ngSubmit)="searchPharmaties()">
  <div class="form-group">
    <table align="center" style="width:100%">
      <tr>
        <th>Datum</th>
        <th>Pocetno vreme</th>
        <th>Krajnje vreme</th>
      </tr>
      <tr>
        <th>
          <input type="date" id="date" class="form-control" [(ngModel)]="date" [ngModelOptions]="{standalone: true}">
        </th>
        <th>
          <input type="time" id="startTime" class="form-control" [(ngModel)]="startTime" [ngModelOptions]="{standalone: true}">
        </th>
        <th>
          <input type="time" id="endTime" class="form-control" [(ngModel)]="endTime" [ngModelOptions]="{standalone: true}">
        </th>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>
          <button class="btn btn-primary" id="btn-search"  type="submit">
            SEARCH
          </button>
        </th>
      </tr>
    </table>
  </div>
</form>

<table class="table-main" align="center" style="width:100%">
  <tr>
  <tr bgcolor = green >
    <th><button (click)="sortByName()" class="btn-add">Ime</button></th>
    <th><button (click)="sortByRating()" class="btn-add">Ocena</button></th>
    <th>Adresa</th>
    <th>Opis</th>

  </tr>

  <tr *ngFor="let pharmacy of pharmaties" >
    <td>{{pharmacy.name}}</td>
    <td>{{pharmacy.rating}}</td>
    <td>{{pharmacy.address}}</td>
    <td>{{pharmacy.description}}</td>
    <th><button type="button" class="btn btn-primary" (click)="prikaziFarmaceute(pharmacy.id)">Farmaceuti</button></th>
    <th><button type="button" class="btn btn-primary" (click)="showPharmacyProfile(pharmacy.id)">Profil Apoteke</button></th>
  </tr>


</table>


</div>

<div id="divFarmaceuti" [hidden]="hidePharmatists">

  <button class="btn-search" (click)="hideFarmaceuti()">Back</button>
  <table class="table-main" align="center" style="width:100%">
    <tr>
    <tr bgcolor = green >
      <th><button (click)="sortByName()" class="btn-add">Ime</button></th>
      <th><button (click)="sortByRating()" class="btn-add">Ocena</button></th>
      <th>Rating</th>

    </tr>

    <tr *ngFor="let pharmacy of pharmatists" >
      <td>{{pharmacy.firstName}}</td>
      <td>{{pharmacy.lastName}}</td>
      <td>{{pharmacy.rating}}</td>
      <th><button class="btn-add" (click)="bookAReservation(pharmacy.pharmacistId, pharmacy.pharmacyId)">Zakazi savetovanje</button></th>
    </tr>


  </table>

</div>
