<div class="row">
    <div class="col-4">
        <mat-form-field class="form-full-width">
            <input matInput [matDatepicker]=" picker" placeholder="Od" [(ngModel)]="startDate"
                readonly [max]="maxDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker disabled="false"></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="col-3">
        <mat-form-field class="form-full-width">
            <input matInput [matDatepicker]=" picker1" placeholder="Do" [(ngModel)]="endDate"
                readonly [max]="maxDate">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1 disabled="false"></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="col-2 btn-position">
        <button mat-raised-button color="primary" (click)="search()">Pretraži</button>
    </div>
</div>
<div style="display: block">
    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
        [legend]="barChartLegend" [chartType]="barChartType" [colors]="chartColors">
    </canvas>
</div>