.dialog-class {
  width: 500px;
}

.form-full-width {
width: 100%;
}

.form-full-width-td {
width: 98%;
}

.mat-dialog-actions {
  justify-content: flex-end;
}

.work-hours {
color: black;
margin-top: .66667em;
font-size: 80%;
}