<div class="col-md-6 offset-md-3 mt-5">
  
    <div class="card">
        <h4 class="card-header" >Dodajte novu bolnicu u sistem</h4>
        <h6 class="card-title" class="text-center">za potrebe povezivanja sa kursom PSW</h6>
    
        <div class="card-body">
            <form [formGroup]="createNewHospitalForm">
                <div class="form-group">
                     <label for="name">Naziv</label>
                     <input type="text" formControlName="name" class="form-control" required>
                </div>
                    
                <div class="form-group">
                    <label for="city">Grad</label>
                    <input type="text" formControlName="city" class="form-control" required>
                </div>
                
                <div class="form-group">
                    <label for="address">Adresa</label>
                    <input type="text" formControlName="address" class="form-control" required>
                </div>
           
                <button class="btn btn-primary" (click)="addNewHospital()">
                    Dodaj novu bolnicu
                </button>
               
            </form>
        </div>
    </div>
    
      
</div>


