
<div class="col-md-6 offset-md-3 mt-5">
  
    <div class="card">
        <h4 class="card-header">Moj profil</h4>
        
        <div class="card-body">
                <form [formGroup]="PharmAdminForm" class="mat-elevation-z8 form">
                    <table class="form-full-width table-font" cellspacing="0">
                        <tr>
                            <td class="first">Email</td>
                            <td>{{loggedPharmacyAdmin.email}}</td>
                        </tr>
                        <br>
                        <tr>
                            <td>Password</td>
                            <td><a mat-list-item routerLink="/user/change-password">Change password</a>
                            </td>
                        </tr>
                        <tr>
                            <td><label>First name</label></td>
                            <td>
                                <mat-form-field class="form-full-width-td">
                                    <input matInput formControlName="firstName">
                                    <i matSuffix class="material-icons">edit</i>
                                    <mat-error
                                        *ngIf="PharmAdminForm.get('firstName').errors && PharmAdminForm.get('firstName').errors['required']">
                                        Please enter your first name.
                                    </mat-error>
                                    <mat-error
                                        *ngIf="PharmAdminForm.get('firstName').errors && PharmAdminForm.get('firstName').errors['maxlength']">
                                        Maximal number of characters for this field is 30.
                                    </mat-error>

                                </mat-form-field>
                            </td>
                        <tr>
                            <td><label>Last name</label></td>
                            <td>
                                <mat-form-field class="form-full-width-td">
                                    <input matInput formControlName="lastName">
                                    <i matSuffix class="material-icons">edit</i>
                                    <mat-error
                                        *ngIf="PharmAdminForm.get('lastName').errors && PharmAdminForm.get('lastName').errors['required']">
                                        Please enter your last name.
                                    </mat-error>
                                    <mat-error
                                        *ngIf="PharmAdminForm.get('lastName').errors && PharmAdminForm.get('lastName').errors['maxlength']">
                                        Maximal number of characters for this field is 30.
                                    </mat-error>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr>
                            <td><label>Phone number</label></td>
                            <td>
                                <mat-form-field class="form-full-width-td">
                                    <input matInput formControlName="phoneNumber">
                                    <i matSuffix class="material-icons">edit</i>
                                    <mat-error
                                        *ngIf="PharmAdminForm.get('phoneNumber').errors && PharmAdminForm.get('phoneNumber').errors['required']">
                                        Please enter your phone number.
                                    </mat-error>
                                    <mat-error
                                        *ngIf="PharmAdminForm.get('phoneNumber').errors && PharmAdminForm.get('phoneNumber').errors['pattern']">
                                        Phone number must begin with 0 and can contain digits only.
                                    </mat-error>
                                    <mat-error
                                        *ngIf="PharmAdminForm.get('phoneNumber').errors && (PharmAdminForm.get('phoneNumber').errors['minlength'] 
                                        || PharmAdminForm.get('phoneNumber').errors && PharmAdminForm.get('phoneNumber').errors['maxlength'])">
                                        Phone number can contain between 9 and 10 digits.
                                    </mat-error>
                                </mat-form-field>

                            </td>
                        </tr>

                    </table>
                    <div align="end">
                        <button mat-raised-button color="primary" (click)="saveChanges()"
                            [disabled]="!PharmAdminForm.valid">Save changes</button>
                    </div>
                </form>
            </div>

        </div>
      
      </div>