<!-- page-header -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-caption">
                    <h1 class="page-title">Promena lozinke</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.page-header-->

<!-- page-content -->
<div class="card-section">
    <div class="container">
        <div class="card-block bg-white mb30">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <!-- section-title -->
                    <div class="section-title mb-0">
                        <form [formGroup]="changePasswordForm" class="mat-elevation-z8 form">
                            <mat-form-field>
                                <input matInput type="email" placeholder="Email adresa" formControlName="userEmail">
                                <mat-error
                                    *ngIf="changePasswordForm.get('userEmail').errors && changePasswordForm.get('userEmail').invalid">
                                    Unesite Vašu email adresu ispravno.
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="mt-2">
                                <input matInput type="password" placeholder="Lozinka"
                                    formControlName="userOldPassword">
                                <mat-error
                                    *ngIf="changePasswordForm.get('userOldPassword').errors && changePasswordForm.get('userOldPassword').errors['required']">
                                    Unesite Vašu lozinku ispravno.
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="mt-2">
                                <input matInput type="password" placeholder="Nova lozinka"
                                    formControlName="newPassword">
                                <mat-error
                                    *ngIf="changePasswordForm.get('newPassword').errors &&  changePasswordForm.get('newPassword').errors['required']">
                                    Please enter new password.
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="mt-2">
                                <input matInput type="password" placeholder="Ponovljena nova lozinka"
                                    formControlName="repeatedPassword">
                                <mat-error
                                    *ngIf="changePasswordForm.get('repeatedPassword').errors &&  changePasswordForm.get('repeatedPassword').errors['required']">
                                    Please enter repeated password.
                                </mat-error>
                                <mat-error
                                    *ngIf="changePasswordForm.get('repeatedPassword').errors && changePasswordForm.get('repeatedPassword').errors['mustMatch']">
                                   Lozinke se ne poklapaju..
                                </mat-error>
                            </mat-form-field>
                            <br>
                            <div align="end">
                                <button mat-raised-button color="primary" (click)="changePassword()"
                                    [disabled]="!changePasswordForm.valid">Sačuvaj izmene</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.section-title -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.page-content -->